@charset "UTF-8";

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

@media screen and (min-width: 768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    }

    #login {
        width: 70vw;
    }

    #foto {
        float: right;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 70%;
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
    }

    input[type=submit] {
        margin-top: 20px;
    }

}

@media screen and (min-width: 993px) {

    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    }

   #login {
        width: 50vw;
   }

   #foto {
    height: 25vh;
   }

   input[type=submit] {
    margin-top: 30px;
}
   
}